---
import Layout from '../layouts/Layout.astro';
const { title } = Astro.props;
const { titolo } = Astro.props;
import Hero from '../components/Hero.astro';
import CardSingle from '../components/CardSingle.astro';
import dati from '../data/dati.json';
---

<Layout title="Home">
	<Hero titolo= "il titolo della home" />
    <div class="grid grid-cols-2 gap-4 my-6 mx-3 md:mx-6 lg:mx-12">
        {dati.map((item) => (
            <CardSingle titolo={item.titolo} descrizione={item.descrizione} immagine={item.immagine} />
        ))}
    </div>
</Layout>